<div class = "header_wrap">
<div id="header">
	<div id="logo">
	  <%= image_tag 'icrossfitbecause.png' %>
	</div>
  <div id="phrase" class='text'>
		<% @phrases.each do |phrase| %>
			<ul>
				<li><%= phrase.body %></li>
			</ul>
		<% end %>

  </div>
</div>

<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1wrap">
            <div class="col1">
			 <div id="nav">
                <ul class="dropdown">
		        	<li><%= link_to "Home", root_url %>
		        		<ul class="sub_menu">
		        			 <li><a href="#">Submit Your Video</a></li>
		        			 <li><a href="#">Contact</a></li>
		        		</ul>
		        	</li>
					<li><%= link_to "What is Crossfit", page_path('what_is_crossfit')
					 %>
		        		<ul class="sub_menu">
		        			 <li></li>
		        			 <li><a href="/pages/what_is_crossfit#myths">Crossfit Myths</a></li>
							 <li><a href="/pages/what_is_crossfit#ready">Am I Ready?</a></li>
							 <li><a href="/pages/what_is_crossfit#expect">What to Expect</a></li>
							 <li><a href="/pages/what_is_crossfit#scale">A Note About Scaling</a></li>
							 <li><%= link_to "Where is Crossfit?", page_path('where_is_crossfit')
							 %></li>
		        		</ul>
		        	</li>
					<li><a href="#">I Workout</a>
		        		<ul class="sub_menu">
							 <li><%= link_to "Exercises/Demos", exercises_path %></li>
		        			 <li><a href="#">Oly-Lifting</a></li>
							 <li><%= link_to "The Girls", girls_path %></li>
							 <li><a href="#">Hero WODs</a></li>
		        		</ul>
		        	</li>
					<li><a href="#">Crossfit Mom</a>
		        		<ul class="sub_menu">
							 <li><a href="#">CF in Pregnancy</a></li>
		        			 <li><a href="#">Resources</a></li>
		        		</ul>
		        	</li>
					<li><a href="#">Crossfit Endurance</a>
		        		<ul class="sub_menu">
		        			 <li><a href="#">Top Ten</a></li>
		        			 <li><a href="#">Resouces</a></li>
		        		</ul>
		        	</li>
		        </ul>
			 </div>
            </div>
        </div>
        <div class="col2">
            <!-- Column 2 start -->
            <%= form_for(@new_phrase, :remote => true) do |f| %>
			  <% if @new_phrase.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@new_phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>

			      <ul>
			      <% @new_phrase.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			Why do you Crossfit? Tell Us!<br />
			  <div class="field">
			    <%= f.label :body, "I Crossfit Because..." %>
			    <%= f.text_field :body %>
			  <span class="actions">
			    <%= image_submit_tag("submit.jpg") %>
			  </span>
			  </div>

			<% end %>
			<!-- Column 2 end -->
        </div>
    </div>
</div>
</div>