<div id="sidebar">
	<h1>Stuff We Love:</h1>

	<div class="stuff">
	  <%=link_to image_tag("FLAG-EAGLE.png"), "http://www.ijustpred.com" %><br />
	  <%=image_tag "rogue.png"%><br />
	  <%=image_tag "progenex.png"%><br />
	</div>



    <h1>Resources We Love:</h1>
		<div class="stuff">
		  <%=link_to image_tag("journal.png"), "http://journal.crossfit.com/start.tpl" %><br />
		  <%=link_to image_tag("mwod-logo5.png"), "http://www.mobilitywod.com/" %><br />
		  <%=link_to image_tag("cfe-logo.png"), "http://www.crossfitendurance.com/" %><br />
		</div>
</div>