<!DOCTYPE html>
<html>
<head>
  <title>Crossfit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "cycle.js" %>
  <link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "shared/header" %>
	<div class="maincolmask mainmenu">
	    <div class="colleft">
	        <div class="col1wrap">
	            <div class="col1">
				  <div id="content">
				     <h1>Where is Crossfit?</h1>
					 <div class="quote">
						<span class="highlight">Simple answer: Crossfit is Everywhere.</span>
					</div>
			  	</div>
	            </div>
	        </div>
	        <div class="col2">
	            <!-- Column 2 start -->
	            <%= render "shared/sidebar" %>
				<!-- Column 2 end -->
	        </div>
	    </div>
	</div>
<%= render "shared/footer" %>	
</body>
</html>


